{layout '../pageLayout.latte'}
{block pageTitle}Url{/block}

{block pageContent}
<div class="row">
	<div class="col-lg-12">
		Set up url in right part of page.<br>
		<h2>Supported url formats</h2>
		<p>
			You can use relative or absolute url and hashtags too.

			<ul>
				<li>http://absolute.url/to-page#with-hashtag</li>
				<li>/relative-url/for/this/web#with-hashtag</li>
			</ul>
		</p>
	</div>
</div>
{/block}

{block pageRight}
{/block}