parameters:
	sentry:
		dsn: 'https://<key>:<secret>@app.getsentry.com/<project>'
		settings:
			trace: true
	https: true
	mailer:
		from: 'mail@example.com'
		fromName: %mailer.from%
		sender: %mailer.from%
		domain: example.com
		host:
#		port: 587
		username:
		password:
		secure: ssl

	googleAnalytics:

doctrine:
	host: 'localhost'
	user: root
	password:
	dbname: 'wun_cms'
	metadata:
		App: %appDir%