extensions:
	gedmo: Rixxi\Gedmo\DI\OrmExtension
	console: Kdyby\Console\DI\ConsoleExtension
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	monolog: Wunderman\Monolog\DI\MonologExtension
	webloader: WebLoader\Nette\Extension
