services:
	# Compose Presenters
	#
	privateComposePresenter:
		class: App\PrivateModule\PagesModule\Presenter\ComposePresenter(%PrivateModule.AddButtons%)
	publicComposePresenter:
		class: App\PublicModule\ComposeModule\Presenter\ComposePresenter


	# Router
	#
	- App\RouterFactory
	router: @App\RouterFactory::createRouter


	# ACL
	#
	authenticator: DatabaseAuthenticator
	authorizator: \Security\Acl


	# Mailing
	#
	mail.mailer: \App\service\Mailer


	# Forms
	#
	- App\PublicModule\Component\ContactUsFormFactory


	# Components
	#
	tm: App\PublicModule\Component\GoogleTagManager(%googleTagManager%)
	- App\PublicModule\ComposeModule\Component\ComponentWrapperFactory(%renderableComponents%)
	- App\PrivateModule\PagesModule\Component\ComponentWrapperFactory(%renderableComponents%)
	- App\PrivateModule\Components\MenuPageParts\MenuPagePartsFactory(%PrivateModule.PagePartsButtons%)


	# Services
	#
	- App\ParametersFactory
	- App\PublicModule\ComposeModule\Service\ComposeService

	- App\PrivateModule\UsersModule\Model\Service\Users
	- App\PrivateModule\AttachmentModule\Model\Service\AttachmentService
