{block content}
<table class="table table-striped table-bordered" style="width: 300px">
	<tr>
		<th>Už. jméno</th>
		<th>Heslo</th>
	</tr>
	<tr n:foreach="$newUsers as $name => $pass">
		<td>{$name}</td>
		<td>{$pass}</td>
	</tr>
</table>