/*
    Created on : Dec 18, 2013, 12:16:13 AM
    Author     : Petr Besir Horáček <sirbesir@gmail.com>
*/

html {
	min-height: 100%;
}

body {
	padding: 0 !important;
	min-height: 100%;
	background: #eee url('/images/bg-quilted.jpg');
}

#flashes {
	background: none;
    border-radius: 5px;
    left: 50%;
    margin-left: -250px;
    position: fixed;
    top: 20px;
    width: 500px;
    z-index: 100;
}

#signInContainer {
	position: relative;
	height: 100%;
	padding: 0;
}

.form-signin {
	position: relative;
	width: 330px;
	padding: 15px;
	margin: 0 auto;
	background: rgba(255,255,255,0.35);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 2px 2px 30px #5c425d;
	-moz-box-shadow: 2px 2px 30px #5c425d;
	box-shadow: 12px 12px 100px #5c425d;
	/*-webkit-filter: blur(5px); -moz-filter: blur(5px); -o-filter: blur(5px); -ms-filter: blur(5px); filter: blur(5px);*/
}

@media (max-width: 1279px) {
	body {
		background: #fff;
	}

	body, .btn {
		font-size: 26px !important;
	}

	input.form-control {
		height: 90px !important;
	}

	input.btn.btn-primary {
		height: 90px !important;
	}

	.form-signin {
		width: 100%;
		height: 100%;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

	.bootstrap-switch {
		width: 145px;
	}

	.bootstrap-switch-container {
		height: 50px;
	}

	.bootstrap-switch .bootstrap-switch-handle-on, .bootstrap-switch .bootstrap-switch-handle-off, .bootstrap-switch .bootstrap-switch-label {
		line-height: 50px;
		font-size: 22px;
	}
}

@media (max-width: 1279px) {
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
	font-weight: normal;
}
.form-signin .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
	border-radius: 0;
	margin-bottom: 0;
}

.btn.send {
	border-radius: 0 0 10px 10px;
}

.bootstrap-switch {
	z-index: 100;
}